In [1]:
import pandas as pd

In [2]:
campaign_data = pd.read_csv("data.csv")

In [3]:
campaign_data.head()

       Campaign Data
views          likes
90006            402
101141           389
97297            403
117182           397

In [4]:
campaign_data = pd.read_csv("data.csv", header = 1)

In [5]:
campaign_data.head()

    views  likes
0   90006    402
1  101141    389
2   97297    403
3  117182    397
4   99637    404

In [6]:
campaign_data.tail()

     views  likes
95  100464    391
96   96382    387
97   94971    389
98  103070    410
99  110387    411

In [7]:
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   views   100 non-null    int64
 1   likes   100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB

In [8]:
sales = pd.read_csv("sales.csv")

In [9]:
sales.head()

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,NaN,14313.48
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,NaN,156644.47
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,NaN,59191.72
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,NaN,7029.33

In [10]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       100 non-null    int64
 1   Product    100 non-null    object
 2   line       100 non-null    object
 3   Product.1  100 non-null    object
 4   type       100 non-null    object
 5   Product.2  100 non-null    object
 6   Order      100 non-null    object
 7   method     100 non-null    object
 8   type.1     100 non-null    object
 9   Retailer   100 non-null    object
 10  country    9 non-null      object
 11  Revenue    100 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 9.5+ KB